
# Django
*.pyc
__pycache__/
db.sqlite3
*.log
.env
migrations/__pycache__/
backend/__pycache__/
api/__pycache__/
api/migrations/__pycache__/

# React/Vite
node_modules/
dist/
build/
frontend/.env
*.log

# General
.DS_Store
*.swp
*.swo
.vscode/